<h2 class="mb-3">Detalle Lote - EMR asociados</h2>

<!-- CARDS INFO -->
<div class="info-grid mb-4">
  <div class="info-card">
    <div class="info-text">
      <div class="info-label">RG/ID</div>
      <div class="info-value">{{ paso1?.rgId }}</div>
    </div>
    <div class="info-icon">
      <i class="pi pi-id-card"></i>
    </div>
  </div>

  <div class="info-card">
    <div class="info-text">
      <div class="info-label">Producto</div>
      <div class="info-value">{{ paso1?.nombreProducto }}</div>
    </div>
    <div class="info-icon info-icon-green">
      <i class="pi pi-box"></i>
    </div>
  </div>

  <div class="info-card">
    <div class="info-text">
      <div class="info-label">Cantidad</div>
      <div class="info-value">{{ paso1?.cantidad }}</div>
    </div>
    <div class="info-icon info-icon-orange">
      <i class="pi pi-tag"></i>
    </div>
  </div>
  ng serve
</div>
<br>
<p-card>
  <!-- HEADER TABLA +  BOTONES -->
  <div class="flex align-items-center mb-3">
  <h4 class="m-0">Seleccione EMRs</h4>

  <div class="ml-auto flex gap-2">
    <button
      pButton
      type="button"
      icon="pi pi-plus"
      label="Agregar Material"
      class="p-button-secondary"
      (click)="agregarMaterial()">
    </button>

    <button
      pButton
      type="button"
      icon="pi pi-print"
      label="Impresión masiva"
      class="p-button-success"
      (click)="impresionMasiva()">
    </button>
  </div>
</div>
  <!-- TABLA -->
  <app-table-general></app-table-general>
  <!-- FOOTER -->
  <div class="flex justify-content-start gap-2 mt-4">
    <button pButton type="button" class="p-button-warn" (click)="atras()">Atrás</button>
    <button pButton type="button" class="p-button-danger" (click)="cancelar()">Cancelar</button>
    <button pButton type="button" class="p-button-success" (click)="finalizar()">Guardar</button>
    
  </div>
</p-card>