<p-table
  [value]="data()"
  class="p-datatable-sm"
  responsiveLayout="scroll"

  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 30, 50]"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}">

  <!-- HEADER -->
  <ng-template pTemplate="header">
    <tr>
      @for (col of columns(); track col.field) {
        <th [style.width]="col.width">{{ col.header }}</th>
      }
      @if (actions().length) {
        <th style="width: 120px">Opciones</th>
      }
    </tr>
  </ng-template>

  <!-- BODY -->
  <ng-template pTemplate="body" let-row>
    <tr>
      @for (col of columns(); track col.field) {
        <td>{{ row[col.field] }}</td>
      }

      @if (actions().length) {
        <td class="actions">
          @for (action of actions(); track action.icon) {
            <button
              pButton
              type="button"
              [icon]="action.icon"
              class="p-button-text p-button-sm"
              [ngClass]="action.colorClass"
              pTooltip="{{ action.tooltip }}"
              (click)="action.onClick(row)">
            </button>
          }
        </td>
      }
    </tr>
  </ng-template>

</p-table>
